body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:auto;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u0 {
  position:absolute;
  left:98px;
  top:706px;
  width:1001px;
  height:10px;
}
#u0_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u0_end {
  position:absolute;
  left:984px;
  top:-5px;
  width:18px;
  height:20px;
}
#u0_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1001px;
  height:1px;
}
#u1 {
  position:absolute;
  left:429px;
  top:754px;
  width:181px;
  height:16px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:16px;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
#u3 {
  position:absolute;
  left:370px;
  top:721px;
  width:46px;
  height:16px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:16px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u5 {
  position:absolute;
  left:431px;
  top:721px;
  width:80px;
  height:16px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:526px;
  top:721px;
  width:68px;
  height:16px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:16px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:617px;
  top:721px;
  width:68px;
  height:16px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:16px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:711px;
  top:721px;
  width:53px;
  height:16px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:60px;
  top:130px;
  width:746px;
  height:10px;
}
#u13_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u13_end {
  position:absolute;
  left:729px;
  top:-5px;
  width:18px;
  height:20px;
}
#u13_line {
  position:absolute;
  left:0px;
  top:5px;
  width:746px;
  height:1px;
}
#u14 {
  position:absolute;
  left:92px;
  top:238px;
  width:66px;
  height:16px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:168px;
  top:234px;
  width:200px;
  height:25px;
}
#u16_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u17 {
  position:absolute;
  left:92px;
  top:285px;
  width:66px;
  height:16px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:168px;
  top:284px;
  width:200px;
  height:22px;
}
#u19_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u20 {
  position:absolute;
  left:92px;
  top:336px;
  width:66px;
  height:16px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:168px;
  top:336px;
  width:200px;
  height:22px;
}
#u22_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u23 {
  position:absolute;
  left:92px;
  top:162px;
}
#u23_state0 {
  position:relative;
  left:0px;
  top:0px;
}
#u24 {
  position:absolute;
  left:505px;
  top:12px;
  width:105px;
  height:16px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:610px;
  top:12px;
  width:77px;
  height:16px;
  color:#009933;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:16px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:0px;
  top:13px;
  width:66px;
  height:16px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:295px;
  top:10px;
  width:200px;
  height:22px;
}
#u30_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u31 {
  position:absolute;
  left:76px;
  top:10px;
  width:200px;
  height:22px;
}
#u31_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u32 {
  position:absolute;
  left:76px;
  top:32px;
  width:150px;
  height:16px;
  color:#FF0000;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:16px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u23_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
}
#u34 {
  position:absolute;
  left:0px;
  top:14px;
  width:92px;
  height:16px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:92px;
  top:10px;
  width:150px;
  height:25px;
}
#u36_input {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:25px;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u37 {
  position:absolute;
  left:252px;
  top:14px;
  width:92px;
  height:16px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:496px;
  top:14px;
  width:27px;
  height:16px;
  color:#009933;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u41 {
  position:absolute;
  left:546px;
  top:15px;
  width:79px;
  height:16px;
  color:#009933;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u43 {
  position:absolute;
  left:344px;
  top:11px;
  width:142px;
  height:22px;
}
#u43_input {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:22px;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u44 {
  position:absolute;
  left:92px;
  top:45px;
  width:66px;
  height:16px;
  color:#009933;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:168px;
  top:424px;
  width:81px;
  height:26px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  color:#FFFFFF;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:26px;
}
#u47 {
  position:absolute;
  left:2px;
  top:5px;
  width:77px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:92px;
  top:377px;
  width:66px;
  height:16px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u50 {
  position:absolute;
  left:168px;
  top:376px;
  width:27px;
  height:16px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u52 {
  position:absolute;
  left:205px;
  top:376px;
  width:131px;
  height:16px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:16px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
#u54 {
  position:absolute;
  left:219px;
  top:172px;
  visibility:hidden;
}
#u54_state0 {
  position:relative;
  left:0px;
  top:0px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:160px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:160px;
}
#u56 {
  position:absolute;
  left:2px;
  top:72px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:42px;
  top:9px;
  width:53px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u59 {
  position:absolute;
  left:0px;
  top:26px;
  width:280px;
  height:10px;
}
#u59_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u59_end {
  position:absolute;
  left:263px;
  top:-5px;
  width:18px;
  height:20px;
}
#u59_line {
  position:absolute;
  left:0px;
  top:5px;
  width:280px;
  height:1px;
}
#u60 {
  position:absolute;
  left:101px;
  top:110px;
  width:78px;
  height:30px;
  color:#000000;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:30px;
}
#u61 {
  position:absolute;
  left:2px;
  top:7px;
  width:74px;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:16px;
  top:9px;
  width:16px;
  height:16px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u63 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:114px;
  top:64px;
  width:53px;
  height:16px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u66 {
  position:absolute;
  left:82px;
  top:115px;
  width:79px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u68 {
  position:absolute;
  left:60px;
  top:115px;
  width:16px;
  height:16px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u69 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:171px;
  top:115px;
  width:14px;
  height:16px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u72 {
  position:absolute;
  left:195px;
  top:115px;
  width:79px;
  height:16px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:51px;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:51px;
}
#u75 {
  position:absolute;
  left:2px;
  top:18px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76 {
  position:absolute;
  left:598px;
  top:4px;
  width:148px;
  height:16px;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:16px;
}
#u77 {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  white-space:nowrap;
}
#u78 {
  position:absolute;
  left:903px;
  top:4px;
  width:79px;
  height:16px;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u79 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u80 {
  position:absolute;
  left:828px;
  top:4px;
  width:88px;
  height:16px;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:16px;
}
#u81 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:756px;
  top:4px;
  width:79px;
  height:16px;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u83 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u84 {
  position:absolute;
  left:0px;
  top:50px;
}
#u84_state0 {
  position:relative;
  left:0px;
  top:0px;
}
#u85 {
  position:absolute;
  left:90px;
  top:7px;
  width:53px;
  height:16px;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u86 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u87 {
  position:absolute;
  left:190px;
  top:7px;
  width:53px;
  height:16px;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u88 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u89 {
  position:absolute;
  left:287px;
  top:7px;
  width:54px;
  height:16px;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:16px;
}
#u90 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u91 {
  position:absolute;
  left:637px;
  top:7px;
  width:79px;
  height:16px;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u92 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u93 {
  position:absolute;
  left:0px;
  top:22px;
  width:1000px;
  height:10px;
}
#u93_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u93_end {
  position:absolute;
  left:983px;
  top:-5px;
  width:18px;
  height:20px;
}
#u93_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1000px;
  height:1px;
}
#u94 {
  position:absolute;
  left:393px;
  top:1px;
  width:97px;
  height:27px;
  color:#5E5E5E;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:27px;
}
#u95 {
  position:absolute;
  left:2px;
  top:6px;
  width:93px;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:545px;
  top:7px;
  width:53px;
  height:16px;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u97 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u98 {
  position:absolute;
  left:280px;
  top:424px;
  width:81px;
  height:26px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  color:#FFFFFF;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:26px;
}
#u99 {
  position:absolute;
  left:2px;
  top:5px;
  width:77px;
  word-wrap:break-word;
}
