body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:auto;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u0 {
  position:absolute;
  left:114px;
  top:6px;
  width:149px;
  height:15px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:15px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:900px;
  top:6px;
  width:42px;
  height:16px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:952px;
  top:6px;
  width:64px;
  height:16px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:16px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:1028px;
  top:7px;
  width:53px;
  height:16px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:0px;
  top:21px;
  width:1200px;
  height:10px;
}
#u8_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u8_end {
  position:absolute;
  left:1183px;
  top:-5px;
  width:18px;
  height:20px;
}
#u8_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1200px;
  height:1px;
}
#u9 {
  position:absolute;
  left:0px;
  top:26px;
  width:1200px;
  height:106px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:106px;
}
#u10 {
  position:absolute;
  left:2px;
  top:45px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:299px;
  top:6px;
  width:213px;
  height:16px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:16px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:512px;
  top:6px;
  width:61px;
  height:16px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:16px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:583px;
  top:6px;
  width:35px;
  height:16px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:16px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:99px;
  top:26px;
  width:276px;
  height:106px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:106px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:353px;
  top:198px;
  width:746px;
  height:10px;
}
#u19_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u19_end {
  position:absolute;
  left:729px;
  top:-5px;
  width:18px;
  height:20px;
}
#u19_line {
  position:absolute;
  left:0px;
  top:5px;
  width:746px;
  height:1px;
}
#u20 {
  position:absolute;
  left:385px;
  top:100px;
  width:691px;
  height:44px;
  overflow:hidden;
}
#u20_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:691px;
  height:44px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
}
#u21 {
  position:absolute;
  left:99px;
  top:0px;
  width:90px;
  height:35px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:14px;
  color:#000000;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:35px;
}
#u22 {
  position:absolute;
  left:2px;
  top:10px;
  width:86px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:199px;
  top:0px;
  width:90px;
  height:35px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:14px;
  color:#000000;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:35px;
}
#u24 {
  position:absolute;
  left:2px;
  top:10px;
  width:86px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:299px;
  top:0px;
  width:90px;
  height:35px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:14px;
  color:#000000;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:35px;
}
#u26 {
  position:absolute;
  left:2px;
  top:10px;
  width:86px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:399px;
  top:0px;
  width:90px;
  height:35px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:14px;
  color:#000000;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:35px;
}
#u28 {
  position:absolute;
  left:2px;
  top:10px;
  width:86px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:498px;
  top:0px;
  width:90px;
  height:35px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:14px;
  color:#000000;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:35px;
}
#u30 {
  position:absolute;
  left:2px;
  top:10px;
  width:86px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:598px;
  top:0px;
  width:90px;
  height:35px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:14px;
  color:#000000;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:35px;
}
#u32 {
  position:absolute;
  left:2px;
  top:10px;
  width:86px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:0px;
  top:26px;
  width:700px;
  height:10px;
}
#u33_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u33_end {
  position:absolute;
  left:683px;
  top:-5px;
  width:18px;
  height:20px;
}
#u33_line {
  position:absolute;
  left:0px;
  top:5px;
  width:700px;
  height:1px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:35px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:14px;
  color:#000000;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:35px;
}
#u35 {
  position:absolute;
  left:2px;
  top:10px;
  width:86px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:370px;
  top:230px;
  width:32px;
  height:16px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:16px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:114px;
  top:240px;
  width:178px;
  height:16px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:16px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:114px;
  top:240px;
  width:61px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  color:#5CAD06;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:16px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:114px;
  top:340px;
  width:61px;
  height:16px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:16px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:114px;
  top:308px;
  width:61px;
  height:16px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:16px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:99px;
  top:187px;
  width:234px;
  height:32px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:32px;
}
#u47 {
  position:absolute;
  left:2px;
  top:8px;
  width:230px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:142px;
  top:195px;
  width:53px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  color:#FFFFFF;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u50 {
  position:absolute;
  left:114px;
  top:274px;
  width:61px;
  height:16px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:16px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u52 {
  position:absolute;
  left:381px;
  top:181px;
  width:27px;
  height:16px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u54 {
  position:absolute;
  left:362px;
  top:179px;
  width:16px;
  height:16px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u55 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:418px;
  top:181px;
  width:17px;
  height:16px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:16px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u58 {
  position:absolute;
  left:445px;
  top:181px;
  width:53px;
  height:16px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u60 {
  position:absolute;
  left:519px;
  top:179px;
  width:17px;
  height:16px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:16px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u62 {
  position:absolute;
  left:547px;
  top:179px;
  width:53px;
  height:16px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u64 {
  position:absolute;
  left:362px;
  top:218px;
  width:728px;
  height:462px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:728px;
  height:462px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:728px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:100px;
  top:1060px;
  width:1001px;
  height:10px;
}
#u67_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u67_end {
  position:absolute;
  left:984px;
  top:-5px;
  width:18px;
  height:20px;
}
#u67_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1001px;
  height:1px;
}
#u68 {
  position:absolute;
  left:430px;
  top:1108px;
  width:181px;
  height:16px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:16px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
#u70 {
  position:absolute;
  left:372px;
  top:1075px;
  width:46px;
  height:16px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:16px;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u72 {
  position:absolute;
  left:432px;
  top:1075px;
  width:80px;
  height:16px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  white-space:nowrap;
}
#u74 {
  position:absolute;
  left:528px;
  top:1075px;
  width:68px;
  height:16px;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:16px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u76 {
  position:absolute;
  left:618px;
  top:1075px;
  width:68px;
  height:16px;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:16px;
}
#u77 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u78 {
  position:absolute;
  left:712px;
  top:1075px;
  width:53px;
  height:16px;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u79 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
