body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:auto;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u0 {
  position:absolute;
  left:114px;
  top:6px;
  width:149px;
  height:15px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:15px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:900px;
  top:6px;
  width:42px;
  height:16px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:952px;
  top:6px;
  width:64px;
  height:16px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:16px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:1028px;
  top:7px;
  width:53px;
  height:16px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:0px;
  top:21px;
  width:1200px;
  height:10px;
}
#u8_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u8_end {
  position:absolute;
  left:1183px;
  top:-5px;
  width:18px;
  height:20px;
}
#u8_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1200px;
  height:1px;
}
#u9 {
  position:absolute;
  left:0px;
  top:26px;
  width:1200px;
  height:106px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:106px;
}
#u10 {
  position:absolute;
  left:2px;
  top:45px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:99px;
  top:286px;
  width:234px;
  height:32px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:32px;
}
#u12 {
  position:absolute;
  left:2px;
  top:8px;
  width:230px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:131px;
  top:295px;
  width:53px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  color:#FFFFFF;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:299px;
  top:6px;
  width:213px;
  height:16px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:16px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:512px;
  top:6px;
  width:61px;
  height:16px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:16px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:583px;
  top:6px;
  width:35px;
  height:16px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:16px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u21 {
  position:absolute;
  left:99px;
  top:26px;
  width:276px;
  height:106px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:106px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:353px;
  top:198px;
  width:746px;
  height:10px;
}
#u23_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u23_end {
  position:absolute;
  left:729px;
  top:-5px;
  width:18px;
  height:20px;
}
#u23_line {
  position:absolute;
  left:0px;
  top:5px;
  width:746px;
  height:1px;
}
#u24 {
  position:absolute;
  left:136px;
  top:330px;
  width:178px;
  height:16px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:16px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:136px;
  top:330px;
  width:87px;
  height:16px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:16px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:99px;
  top:445px;
  width:234px;
  height:32px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:32px;
}
#u29 {
  position:absolute;
  left:2px;
  top:8px;
  width:230px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:136px;
  top:453px;
  width:53px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  color:#FFFFFF;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:136px;
  top:365px;
  width:61px;
  height:16px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:16px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:136px;
  top:398px;
  width:61px;
  height:16px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:16px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:385px;
  top:100px;
  width:691px;
  height:44px;
  overflow:hidden;
}
#u36_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:691px;
  height:44px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
}
#u37 {
  position:absolute;
  left:99px;
  top:0px;
  width:90px;
  height:35px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:14px;
  color:#000000;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:35px;
}
#u38 {
  position:absolute;
  left:2px;
  top:10px;
  width:86px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:199px;
  top:0px;
  width:90px;
  height:35px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:14px;
  color:#000000;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:35px;
}
#u40 {
  position:absolute;
  left:2px;
  top:10px;
  width:86px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:299px;
  top:0px;
  width:90px;
  height:35px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:14px;
  color:#000000;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:35px;
}
#u42 {
  position:absolute;
  left:2px;
  top:10px;
  width:86px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:399px;
  top:0px;
  width:90px;
  height:35px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:14px;
  color:#000000;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:35px;
}
#u44 {
  position:absolute;
  left:2px;
  top:10px;
  width:86px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:498px;
  top:0px;
  width:90px;
  height:35px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:14px;
  color:#000000;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:35px;
}
#u46 {
  position:absolute;
  left:2px;
  top:10px;
  width:86px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:598px;
  top:0px;
  width:90px;
  height:35px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:14px;
  color:#000000;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:35px;
}
#u48 {
  position:absolute;
  left:2px;
  top:10px;
  width:86px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:0px;
  top:26px;
  width:700px;
  height:10px;
}
#u49_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u49_end {
  position:absolute;
  left:683px;
  top:-5px;
  width:18px;
  height:20px;
}
#u49_line {
  position:absolute;
  left:0px;
  top:5px;
  width:700px;
  height:1px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:35px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:14px;
  color:#000000;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:35px;
}
#u51 {
  position:absolute;
  left:2px;
  top:10px;
  width:86px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:385px;
  top:306px;
  width:66px;
  height:16px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u54 {
  position:absolute;
  left:461px;
  top:302px;
  width:200px;
  height:25px;
}
#u54_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u55 {
  position:absolute;
  left:385px;
  top:353px;
  width:66px;
  height:16px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u57 {
  position:absolute;
  left:461px;
  top:352px;
  width:200px;
  height:22px;
}
#u57_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u58 {
  position:absolute;
  left:385px;
  top:404px;
  width:66px;
  height:16px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u60 {
  position:absolute;
  left:461px;
  top:404px;
  width:200px;
  height:22px;
}
#u60_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u61 {
  position:absolute;
  left:385px;
  top:230px;
}
#u61_state0 {
  position:relative;
  left:0px;
  top:0px;
}
#u62 {
  position:absolute;
  left:505px;
  top:12px;
  width:105px;
  height:16px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u64 {
  position:absolute;
  left:610px;
  top:12px;
  width:77px;
  height:16px;
  color:#009933;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:16px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:0px;
  top:13px;
  width:66px;
  height:16px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u68 {
  position:absolute;
  left:295px;
  top:10px;
  width:200px;
  height:22px;
}
#u68_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u69 {
  position:absolute;
  left:76px;
  top:10px;
  width:200px;
  height:22px;
}
#u69_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u70 {
  position:absolute;
  left:76px;
  top:32px;
  width:150px;
  height:16px;
  color:#FF0000;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:16px;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u61_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
}
#u72 {
  position:absolute;
  left:0px;
  top:14px;
  width:92px;
  height:16px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u74 {
  position:absolute;
  left:92px;
  top:10px;
  width:150px;
  height:25px;
}
#u74_input {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:25px;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u75 {
  position:absolute;
  left:252px;
  top:14px;
  width:92px;
  height:16px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u77 {
  position:absolute;
  left:496px;
  top:14px;
  width:27px;
  height:16px;
  color:#009933;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u79 {
  position:absolute;
  left:546px;
  top:15px;
  width:79px;
  height:16px;
  color:#009933;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u81 {
  position:absolute;
  left:344px;
  top:11px;
  width:142px;
  height:22px;
}
#u81_input {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:22px;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u82 {
  position:absolute;
  left:92px;
  top:45px;
  width:66px;
  height:16px;
  color:#009933;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u83 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u84 {
  position:absolute;
  left:461px;
  top:492px;
  width:81px;
  height:26px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  color:#FFFFFF;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:26px;
}
#u85 {
  position:absolute;
  left:2px;
  top:5px;
  width:77px;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:385px;
  top:445px;
  width:66px;
  height:16px;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u87 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u88 {
  position:absolute;
  left:461px;
  top:444px;
  width:27px;
  height:16px;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u89 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u90 {
  position:absolute;
  left:498px;
  top:444px;
  width:131px;
  height:16px;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:16px;
}
#u91 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
#u92 {
  position:absolute;
  left:512px;
  top:240px;
  visibility:hidden;
}
#u92_state0 {
  position:relative;
  left:0px;
  top:0px;
}
#u93 {
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:148px;
}
#u93_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:309px;
  height:178px;
}
#u94 {
  position:absolute;
  left:2px;
  top:66px;
  width:275px;
  visibility:hidden;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:1px;
  top:1px;
  width:277px;
  height:146px;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:146px;
}
#u96 {
  position:absolute;
  left:2px;
  top:65px;
  width:273px;
  visibility:hidden;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:55px;
  top:36px;
  width:35px;
  height:36px;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:36px;
}
#u98 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:100px;
  top:44px;
  width:97px;
  height:17px;
  font-size:16px;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:17px;
}
#u100 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u101 {
  position:absolute;
  left:240px;
  top:10px;
  width:37px;
  height:16px;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
}
#u102 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:99px;
  top:114px;
  width:81px;
  height:26px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  color:#FFFFFF;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:26px;
}
#u104 {
  position:absolute;
  left:2px;
  top:5px;
  width:77px;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:136px;
  top:497px;
  width:87px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  color:#009933;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:16px;
}
#u106 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u107 {
  position:absolute;
  left:136px;
  top:533px;
  width:74px;
  height:16px;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:16px;
}
#u108 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u109 {
  position:absolute;
  left:375px;
  top:183px;
  width:79px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u110 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u111 {
  position:absolute;
  left:353px;
  top:183px;
  width:16px;
  height:16px;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u112 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:464px;
  top:183px;
  width:14px;
  height:16px;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
}
#u114 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u115 {
  position:absolute;
  left:488px;
  top:183px;
  width:79px;
  height:16px;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u116 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u117 {
  position:absolute;
  left:168px;
  top:193px;
  width:39px;
  height:16px;
  font-size:14px;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:16px;
}
#u118 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u119 {
  position:absolute;
  left:108px;
  top:228px;
  width:53px;
  height:16px;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u120 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u121 {
  position:absolute;
  left:110px;
  top:190px;
  width:48px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:16px;
}
#u122 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  word-wrap:break-word;
}
#u123 {
  position:absolute;
  left:110px;
  top:254px;
  width:27px;
  height:16px;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u124 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u126 {
  position:absolute;
  left:99px;
  top:650px;
  width:1001px;
  height:10px;
}
#u126_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u126_end {
  position:absolute;
  left:984px;
  top:-5px;
  width:18px;
  height:20px;
}
#u126_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1001px;
  height:1px;
}
#u127 {
  position:absolute;
  left:429px;
  top:698px;
  width:181px;
  height:16px;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:16px;
}
#u128 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
#u129 {
  position:absolute;
  left:371px;
  top:665px;
  width:46px;
  height:16px;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:16px;
}
#u130 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u131 {
  position:absolute;
  left:431px;
  top:665px;
  width:80px;
  height:16px;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
}
#u132 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  white-space:nowrap;
}
#u133 {
  position:absolute;
  left:527px;
  top:665px;
  width:68px;
  height:16px;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:16px;
}
#u134 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u135 {
  position:absolute;
  left:617px;
  top:665px;
  width:68px;
  height:16px;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:16px;
}
#u136 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u137 {
  position:absolute;
  left:711px;
  top:665px;
  width:53px;
  height:16px;
}
#u137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u138 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
