body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:auto;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u0 {
  position:absolute;
  left:114px;
  top:6px;
  width:149px;
  height:15px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:15px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:900px;
  top:6px;
  width:42px;
  height:16px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:952px;
  top:6px;
  width:64px;
  height:16px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:16px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:1028px;
  top:7px;
  width:53px;
  height:16px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:0px;
  top:21px;
  width:1200px;
  height:10px;
}
#u8_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u8_end {
  position:absolute;
  left:1183px;
  top:-5px;
  width:18px;
  height:20px;
}
#u8_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1200px;
  height:1px;
}
#u9 {
  position:absolute;
  left:0px;
  top:26px;
  width:1200px;
  height:106px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:106px;
}
#u10 {
  position:absolute;
  left:2px;
  top:45px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:114px;
  top:157px;
  width:16px;
  height:16px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u12 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:140px;
  top:154px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:99px;
  top:26px;
  width:276px;
  height:106px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:106px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:260px;
  top:230px;
}
#u17_state0 {
  position:relative;
  left:0px;
  top:0px;
}
#u18 {
  position:absolute;
  left:1px;
  top:85px;
  width:79px;
  height:16px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:84px;
  top:77px;
  width:240px;
  height:33px;
}
#u20_input {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:33px;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u21 {
  position:absolute;
  left:337px;
  top:76px;
  width:113px;
  height:34px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
  color:#FFFFFF;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:34px;
}
#u22 {
  position:absolute;
  left:2px;
  top:8px;
  width:109px;
  word-wrap:break-word;
}
#u17_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
}
#u23 {
  position:absolute;
  left:48px;
  top:85px;
  width:40px;
  height:16px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:98px;
  top:77px;
  width:240px;
  height:33px;
}
#u25_input {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:33px;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u26 {
  position:absolute;
  left:98px;
  top:146px;
  width:103px;
  height:34px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
  color:#FFFFFF;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:34px;
}
#u27 {
  position:absolute;
  left:2px;
  top:8px;
  width:99px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:21px;
  top:34px;
  width:66px;
  height:16px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:124px;
  top:34px;
  width:131px;
  height:16px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:16px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:291px;
  top:19px;
  visibility:hidden;
}
#u32_state0 {
  position:relative;
  left:0px;
  top:0px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:148px;
}
#u33_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:309px;
  height:178px;
}
#u34 {
  position:absolute;
  left:2px;
  top:66px;
  width:275px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:1px;
  top:1px;
  width:277px;
  height:146px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:146px;
}
#u36 {
  position:absolute;
  left:2px;
  top:65px;
  width:273px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:10px;
  top:34px;
  width:35px;
  height:36px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:36px;
}
#u38 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:57px;
  top:38px;
  width:214px;
  height:46px;
  font-size:14px;
  color:#009900;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:46px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:240px;
  top:10px;
  width:37px;
  height:16px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:99px;
  top:114px;
  width:81px;
  height:26px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  color:#FFFFFF;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:26px;
}
#u44 {
  position:absolute;
  left:2px;
  top:5px;
  width:77px;
  word-wrap:break-word;
}
#u17_state2 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
}
#u45 {
  position:absolute;
  left:48px;
  top:30px;
  width:79px;
  height:16px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:150px;
  top:26px;
  width:200px;
  height:25px;
}
#u47_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u48 {
  position:absolute;
  left:48px;
  top:79px;
  width:105px;
  height:16px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u50 {
  position:absolute;
  left:150px;
  top:75px;
  width:200px;
  height:25px;
}
#u50_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u51 {
  position:absolute;
  left:150px;
  top:136px;
  width:113px;
  height:34px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
  color:#FFFFFF;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:34px;
}
#u52 {
  position:absolute;
  left:2px;
  top:8px;
  width:109px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:291px;
  top:19px;
  visibility:hidden;
}
#u53_state0 {
  position:relative;
  left:0px;
  top:0px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:148px;
}
#u54_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:309px;
  height:178px;
}
#u55 {
  position:absolute;
  left:2px;
  top:66px;
  width:275px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:1px;
  top:1px;
  width:277px;
  height:146px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:146px;
}
#u57 {
  position:absolute;
  left:2px;
  top:65px;
  width:273px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:10px;
  top:34px;
  width:35px;
  height:36px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:36px;
}
#u59 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:57px;
  top:38px;
  width:214px;
  height:46px;
  font-size:14px;
  color:#009900;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:46px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:240px;
  top:10px;
  width:37px;
  height:16px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:99px;
  top:114px;
  width:81px;
  height:26px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  color:#FFFFFF;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:26px;
}
#u65 {
  position:absolute;
  left:2px;
  top:5px;
  width:77px;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:48px;
  top:200px;
  width:326px;
  height:16px;
  color:#FF0000;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:16px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  white-space:nowrap;
}
#u69 {
  position:absolute;
  left:100px;
  top:496px;
  width:1001px;
  height:10px;
}
#u69_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u69_end {
  position:absolute;
  left:984px;
  top:-5px;
  width:18px;
  height:20px;
}
#u69_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1001px;
  height:1px;
}
#u70 {
  position:absolute;
  left:430px;
  top:544px;
  width:181px;
  height:16px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:16px;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
#u72 {
  position:absolute;
  left:372px;
  top:511px;
  width:46px;
  height:16px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:16px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u74 {
  position:absolute;
  left:432px;
  top:511px;
  width:80px;
  height:16px;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  white-space:nowrap;
}
#u76 {
  position:absolute;
  left:528px;
  top:511px;
  width:68px;
  height:16px;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:16px;
}
#u77 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u78 {
  position:absolute;
  left:618px;
  top:511px;
  width:68px;
  height:16px;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:16px;
}
#u79 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u80 {
  position:absolute;
  left:712px;
  top:511px;
  width:53px;
  height:16px;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u81 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
